<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" type="text/css" href="../sass/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="../css/edits.css">
</head>
<body>
<div id="logo" class=""><img src="../pics/download.jpg"></div>
<div class="button float-left hover" id="menu"><p>Return to menu</p></div>
<div id="title" class="float-right"><h1>Welcome to the Citi bank app</h1></div>

<div class="float-center" id="title2"><h2>Transaction choices.</h2></div>

<div id="buttons">
<div class="button choice hover"><p>Get cash</p></div>
<div class="button choice hover"><p>Deposit check</p></div>
<div class="button choice hover"><p>Balance</p></div>
<div class="button choice hover"><p>Statements</p></div>
<div class="button choice hover"><p>Deposit cash</p></div>
<div class="button choice hover"><p>Donate</p></div>
<div class="button choice hover"><p>Direct Deposit</p></div>
<div class="button choice hover"><p>Transfer</p></div>
<div class="button choice hover"><p>Stamps</p></div>
<div class="button choice hover"><p>Settings</p></div>
</div>
</body>
</html>